In [1]:
print("Hello")

Hello

integer

In [3]:
1

1

In [4]:
type(1)

int

In [5]:
print(type(1))

<class 'int'>

floats

In [7]:
10.5

10.5

In [8]:
type(10.5)

float

In [9]:
15.8
type(15.8)

float

In [10]:
print(15.8)
print(type(15.8))

15.8
<class 'float'>

In [11]:
0.2 == .2

True

In [12]:
0.555
.555

0.555

In [13]:
5e2

500.0

In [14]:
5e-2

0.05

String

In [15]:
"kasur"

'kasur'

In [16]:
'hello'

'hello'

In [17]:
"I'm going to the movies"

"I'm going to the movies"

In [18]:
'Budi berkata, "halo apa kabar?"'

'Budi berkata, "halo apa kabar?"'

In [19]:
type("hello world")

str

In [20]:
print(type("hello world"))

<class 'str'>

bool

In [21]:
True

True

In [22]:
False

False

In [23]:
type(True)

bool

In [24]:
type(False)

bool

Variable

In [25]:
x = 500

In [26]:
print(x)

500

In [27]:
x == "x"

False

In [28]:
print("x")

x

In [29]:
x5 = 500

In [30]:
print(x5)

500

In [31]:
x = 500
print(x)
print(type(x))

500
<class 'int'>

In [32]:
x = "smith"
print(x)
print(type(x))

smith
<class 'str'>

In [33]:
x = 5
y = 5
z = 5
print(x, y, z)

5 5 5

In [34]:
a = b = c = 15
print(a, b, c)

15 15 15

In [35]:
type(x)

int

In [36]:
nama_1 = "adi"
Nama_1 = "budi"
naMa_1 = "cahrles"

print(nama_1)
print(Nama_1)
print(naMa_1)

adi
budi
cahrles

In [37]:
namaMurid = "jhon doe"

In [38]:
nama_murid = "jhon doe"

Operator

In [39]:
print(a, b)

15 15

In [40]:
print(15 + 15)
print(a + b)
print(a - 5)

30
30
10

In [41]:
halo = 20
print(halo + 15)

35

In [42]:
halo = "goodbye"
print(halo + 15)

TypeError: can only concatenate str (not "int") to str

In [43]:
print(15 + 20.0)

35.0

In [44]:
print(50 /5)
print(50 // 5)
print(50 // 8)

10.0
10
6

In [45]:
print(50 * 2)
print(50 * 2.5)

100
125.0

In [46]:
print(2 *5)
print(64 * 2.5)

10
160.0

In [47]:
print(2**5)
print(64**0.5)

32
8.0

In [48]:
50 % 8

2

In [49]:
(5+10)*3-1**(12-2)

44

Comparisson

In [50]:
x = 5

In [51]:
x == 5

True

In [52]:
x == "hello"

False

In [53]:
x != "hello"

True

In [54]:
x > "hello"

TypeError: '>' not supported between instances of 'int' and 'str'

In [56]:
'0' < "a"

True

In [57]:
0 < 'a'

TypeError: '<' not supported between instances of 'int' and 'str'

In [58]:
type("ars!@#:\|{><}")

str

In [59]:
"A"<"a"

True

In [60]:
"a" < "h"

True

In [61]:
print("ape">"hotel")
print("ape"<"hotel")

False
True

In [62]:
print("hello">"tv")
print("hello"<"tv")

False
True

In [63]:
True==False

False

In [64]:
True==True

True

In [65]:
True != False

True

In [66]:
False == False

True

String

In [67]:
"a"+5

TypeError: can only concatenate str (not "int") to str

In [68]:
"a" + "b"

'ab'

In [69]:
print("jalan section A")
print("50 + 50 =", 50 + 50)
print("="*80)
print("jalan section B")

jalan section A
50 + 50 = 100
================================================================================
jalan section B

In [70]:
print("foo"+"bar")

foobar

In [71]:
a = "sa"
b = "ya"
print(a+b)

saya

In [73]:
print("sa " * 5)

sa sa sa sa sa

In [74]:
a in "saya mau makan"

True

In [75]:
kalimat = "saYa mAu mAKan"

In [76]:
kalimat.capitalize()

'Saya mau makan'

In [77]:
kalimat.replace("a", "x")

'sxYx mAu mAKxn'

In [78]:
str.capitalize(kalimat)

'Saya mau makan'

In [79]:
kalimat.upper()

'SAYA MAU MAKAN'

In [81]:
kalimat.lower()

'saya mau makan'

In [83]:
kalimat.title()

'Saya Mau Makan'

In [84]:
kalimat.

SyntaxError: invalid syntax (313715520.py, line 1)

Lists

In [85]:
a = ["apel", "pisang", "durian", "jeruk", "semangka", "salak"]
b = ["mobil", "motor", "angkot", "bus"]

print(a)
print(b)

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']
['mobil', 'motor', 'angkot', 'bus']

In [86]:
c = ['apel', 45, True, ["merah", "biru", "hijau"]]

In [87]:
print(c[0])
print(c[1])
print(c[2])
print(c[3])

apel
45
True
['merah', 'biru', 'hijau']

In [88]:
a==b

False

In [89]:
a[2]

'durian'

In [90]:
0 1 2 3 4

SyntaxError: invalid syntax (1633664179.py, line 1)

In [91]:
a

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [92]:
print(a[-4])
print(a[-3])
print(a[-2])
print(a[-1])
print(a[-0])
print(a[1])
print(a[2])
print(a[3])

durian
jeruk
semangka
salak
apel
pisang
durian
jeruk

In [93]:
a[0:2]

['apel', 'pisang']

In [94]:
0.2 == .2

True

In [95]:
a[3:5]

['jeruk', 'semangka']

In [96]:
a[0:3]

['apel', 'pisang', 'durian']

In [97]:
a[:3]

['apel', 'pisang', 'durian']

In [98]:
a[:-1]

['apel', 'pisang', 'durian', 'jeruk', 'semangka']

In [99]:
a[-3:]

['jeruk', 'semangka', 'salak']

In [100]:
a[:3]

['apel', 'pisang', 'durian']

In [102]:
a[2:-2]

['durian', 'jeruk']

In [103]:
kalimat[3:-3]

'a mAu mA'

In [104]:
kalimat

'saYa mAu mAKan'

In [106]:
print(len(kalimat))
print(len(a))

14
6

In [107]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [108]:
print(len(c))

4

In [109]:
a[2]="makanan"

In [111]:
a[-2:] = [5, 8]

In [112]:
a

['apel', 'pisang', 'makanan', 'jeruk', 5, 8]

In [113]:
a[:3] = [2, 4]

In [114]:
a

[2, 4, 'jeruk', 5, 8]

Tuples

In [115]:
buah_tup = ('apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak')

In [117]:
buah_tup[0] = "makanan"

TypeError: 'tuple' object does not support item assignment

dictionary

In [118]:
buah_warna[0]

NameError: name 'buah_warna' is not defined

In [119]:
x = ['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [120]:
x

['apel', 'pisang', 'durian', 'jeruk', 'semangka', 'salak']

In [135]:
buah_warna={'apel': 'merah', 'pisang': 'kuning', 'durian':'violet', 'jeruk':'ungu', 'semangka':'hijau', 'salak':'hitam', 0:'aneh,'}

In [132]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'violet',
 'jeruk': 'ungu',
 'semangka': 'hijau',
 'salak': 'hitam'}

In [136]:
buah_warna[0]

'aneh,'

In [134]:
buah_warna["apel"]

'merah'

In [137]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'violet',
 'jeruk': 'ungu',
 'semangka': 'hijau',
 'salak': 'hitam',
 0: 'aneh,'}

In [138]:
buah_warna["oli"] = "hitam"

In [139]:
buah_warna

{'apel': 'merah',
 'pisang': 'kuning',
 'durian': 'violet',
 'jeruk': 'ungu',
 'semangka': 'hijau',
 'salak': 'hitam',
 0: 'aneh,',
 'oli': 'hitam'}

In [143]:
biodata ={"nama":"John", "umur": 51, "pasangan": "edna", "anak": ["ralph", "joe"]}

In [144]:
biodata

{'nama': 'John', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']}

In [146]:
biodata_list=["John", 51, "edna", ["ralph", "joe"]]

In [147]:
biodata_list[1]

51

In [148]:
biodata["umur"]

51

In [149]:
sub_list = [{'nama': 'John', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']}, {'nama': 'ben', 'umur' : 41, 'pasangan': 'dina', 'anak': ['ralph', 'joe']}]

In [150]:
sub_list

[{'nama': 'John', 'umur': 51, 'pasangan': 'edna', 'anak': ['ralph', 'joe']},
 {'nama': 'ben', 'umur': 41, 'pasangan': 'dina', 'anak': ['ralph', 'joe']}]

In [151]:
sub_list[1]["umur"]

41

In [152]:
c

['apel', 45, True, ['merah', 'biru', 'hijau']]

In [153]:
c[3]

['merah', 'biru', 'hijau']

In [154]:
z=c[3]

In [155]:
z

['merah', 'biru', 'hijau']

In [156]:
z[1]

'biru'

In [157]:
c[3][1]

'biru'

In [158]:
z == c[3]

True

Panjang Line

In [159]:
x = 5 + 10 \
   *20
print(x)

205